<div class="ember-view">
  <DocsHeader as |header|>
    <header.link @route="addons">
      Addons
    </header.link>
  </DocsHeader>

  <div>
    {{outlet}}
  </div>

  <DocsKeyboardShortcuts/>
</div>