<p>
  This helper returns an
  <a href="http://leafletjs.com/reference.html#divicon"><code>L.DivIcon</code></a>
  instance.
</p>

<p>
  Useful to customize the icon of an
  {{#link-to "docs.component" "marker-layer"}}<code>marker-layer</code>{{/link-to}}.
</p>