<strong>Notes:</strong>
<p>
  Customize the <code>zoom</code> and <code>bounds</code> options by passing a hash of values to <code>zoomPanOptions</code> and <code>fitBounds</code> in your <code>\{{leaflet-map}}</code>.
  See the <a href="http://leafletjs.com/reference.html#map-fitboundsoptions">avaialble properties here.</a>
</p>
