<strong>Notes</strong>
<p>
  To customize your popup, pass a hash of values to the <code>popupOptions</code> property. The <a href="http://leafletjs.com/reference.html#popup-options">list of available options is here.</a>
</p>
