<strong>Notes</strong>

<p>
  There is a <code>popupOptions</code> option available on <code>marker-layer</code>, that accepts a hash of values.
  The full list is available <a href="http://leafletjs.com/reference.html#popup">here</a>.
</p>
