// Colors
$text-color: #333;
$headings-text-color: #313131;
$code-text-color: $text-color;

// Breakpoints
$small-breakpoint: 568px;
$medium-breakpoint: 748px; // 768px originally

$brand-color: #1EB300;
$brand-color-brighter: #160;
$link-color: $brand-color;

$light-gray: #ddd;
$gray: #888;
