:root {
  --brand-primary: #1EB300;
}

body {
  font-family:
    'Roboto',
    'system-ui',
    'BlinkMacSystemFont',
    '-apple-system',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'sans-serif';
}

.leaflet-container {
  width: 100%;
  height: 300px;
  font-family: inherit;

  //remove
  a {
    border-bottom: none;
  }
}

.main-page-map {
  height: 400px;
}

.main-page-headline > div {
  position: absolute;
  margin-top: -400px;
  width: 100%;
  //background-color: rgba(0,0,0,0.2);
  background-image: linear-gradient(0,transparent 0,rgba(0,0,0,.5) 100%);
  background-color: transparent !important;
  pointer-events: none;
  z-index: 400;

  a, button {
    pointer-events: auto;
  }
}


// Selling points
.selling-point-icon {
  width: 150px;
  height: 150px;
  margin: 25px auto;
}
.selling-point-code {
  color: #CCC;
  padding: 0;
  font-size: 25px;
  font-family: monospace;
  padding: 40px 0;
  white-space: nowrap;
  text-align: center;
  @media only screen and (min-width: 520px) and (max-width: 768px) {
    font-size: 18px;
  }
}

.docs-font-title {
  font-family: inherit;
}

.ember-modal-dialog {
  z-index: 401;
}
