
@import "variables";
@import "base";
@import "utilities";
@import "prism-theme";

@import "header";
@import "footer";
@import "side-nav";
@import "code-sample";

@import "index";
@import "docs";

body  > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1; // Expand to fix all available vertical space
}

.leaflet-container {
  width: 100%;
  height: 300px;
  font-family: inherit;

  //remove
  a {
    border-bottom: none;
  }
}

.leaflet-popup {
  h1, h2, h3, h4 {
    margin: 0;
  }
}
