<h1 class="doc-page-title">The container</h1>

<p>
  Think of your map as a set of layers inside a container. Your main container will
  be the component<code>\{{leaflet-map}}</code>. This component creates the map container
  where your tiles, vectors and markers will be added to. Let's see how it looks:
</p>

<p>
  <strong>This example looks "broken", but that is intended. Please keep reading.</strong>
</p>

{{#code-sample as |component|}}
  {{#code-block language="handlebars" class=(concat "code-sample-snippet " (if (eq component.activeTab "template") "active"))}}
\{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  \{{!-- Specify child layer components here --}}
\{{/leaflet-map}}{{/code-block}}
  {{#code-block language="javascript" class=(concat "code-sample-snippet " (if (eq component.activeTab "javascript") "active"))}}
export default Ember.Controller.extend({
  lat: 45.519743,
  lng: -122.680522,
  zoom: 10
});{{/code-block}}
  <div class="code-sample-snippet result {{if (eq component.activeTab "result") "active"}}">
    {{#leaflet-map lat=lat lng=lng zoom=zoom}}
      {{!-- Specify child layer components here --}}
    {{/leaflet-map}}
  </div>
{{/code-sample}}

<p>
  Notice that we specified the center of the map and its zoom level passing regular
  properties to the component, bound to the controller. You can check what options each component supports
  in the "Components" section of the docs. Here <code>lat</code>, <code>lng</code> and <code>zoom</code>
  are options that the component <code>\{{leaflet-map}}</code> supports.
</p>

<p>
  <em><strong>Reminder:</strong> The leaflet map container needs to be styled to have some size.</em>
  If you don't see any container at all, that's probably because you forgot to style it.
  You can target leaflet containers in css using the <code>.leaflet-container</code>
  class or providing an <code>id</code> or <code>class</code> attribute in your <code>\{{#leaflet-map</code>
  component.
</p>

<p>
  Ok, we have a leaflet default container, but it's empty. That won't get us anywhere,
  but this is expected since we never specified any child layers, right? Let's see how to do it.
</p>

<div class="doc-page-nav">
  {{#link-to "docs.installation" class="doc-page-nav-link-prev"}}&lt; Installation{{/link-to}}
  {{#link-to "docs.adding-layers" class="doc-page-nav-link-next"}}Adding layers &gt;{{/link-to}}
</div>
