<h1 class="doc-page-title">Overview</h1>

<p>
  Selects. Almost all web applications out there have selects on one way or another. A piece of
  UI that allows the user to choose one option among a list of them.
</p>
