<h1 class="doc-page-title">Installation</h1>

<p>
  Ember-leaflet is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon. As usual,
  the only thing you need to install it is:
</p>

{{#code-block language="bash"}}$ ember install ember-leaflet{{/code-block}}