<h1 class="doc-page-title">Installation</h1>

<p>
  Ember-leaflet is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon. As usual,
  the only thing you need to do is to run an install command in your ember app directory:
</p>

{{#code-block}}$ ember install ember-leaflet{{/code-block}}

<p>
  This command installed all ember-leaflet components and leaflet itself, along with its styles and assets.
  You're ready to map!
</p>

<p>
  <strong>Note:</strong> For production builds, update ember-cli's fingerprinting exclusions for the assets included in ember-leaflet.
  See <a href="http://ember-cli.com/user-guide/#fingerprinting-and-cdn-urls">here</a> for more details.
</p>

{{#code-block language="js"}}
//ember-cli-build.js
var app = new EmberApp(defaults, {
  // Add options here
  fingerprint: {
    exclude: [
      'images/layers-2x.png',
      'images/layers.png',
      'images/marker-icon-2x.png',
      'images/marker-icon.png',
      'images/marker-shadow.png'
    ]
  }
});{{/code-block}}

<div class="doc-page-nav">
  {{#link-to 'docs.index' class="doc-page-nav-link-prev"}}&lt; Overview{{/link-to}}
  {{#link-to 'docs.container' class="doc-page-nav-link-next"}}The container &gt;{{/link-to}}
</div>
