<section class="docs">
  <section class="doc-page">
    <h1 class="doc-page-title">Addons</h1>

    <p>
      Why addons for an addon?
    </p>

    <p>
      There is a lot of room for customization and new functionality in ember-leaflet.
      However, that functionality may not be desirable to be included in every ember-leaflet
      project, or it may just be too specific for a certain scenario.
      Leaflet plugins are good candidates for ember-leaflet addons.
    </p>

    <p>
      This concept follows the lead of the great <a href="http://www.ember-power-select.com">ember-power-select</a> and
      <a href="http://ember-cli.github.io/ember-cli-deploy/">ember-cli-deploy</a>.
    </p>

    <p>
      If you build something and want to share it, let me know and I'll add it to this section.
    </p>

    <h3>
      Links:
    </h3>

    <ul>

      <li>
        <a href="https://github.com/miguelcobain/ember-leaflet-google-tile-layer">ember-leaflet-google-tile-layer</a> - Google's tile layers for ember-leaflet
      </li>

      <li>
        <a href="https://github.com/miguelcobain/ember-leaflet-rotated-marker">ember-leaflet-rotated-marker</a> - Extends marker layers to support rotation
      </li>

      <li>
        <a href="https://github.com/mjanda/ember-leaflet-multi-options-polyline">ember-leaflet-multi-options-polyline</a> - Adds polyline with different options per segment (for example color-coded depending on speed/grade etc.)
      </li>

      <li>
        <a href="https://github.com/canufeel/ember-leaflet-marker-cluster">ember-leaflet-marker-cluster</a> - Provides Beautiful Animated Marker Clustering functionality for Ember-Leaflet
      </li>
      
      <li>
        <a href="https://github.com/canufeel/ember-leaflet-layer-control">ember-leaflet-layer-control</a> - Provides Layer Control Interface functionality for Ember-Leaflet
      </li>

    </ul>
  </section>
</section>
