<header class="main-header">
  <nav class="main-header-nav">
    <div class="main-header-nav-links">
      {{#link-to "docs" class="main-header-nav-link"}}Docs{{/link-to}}
      <a href="https://github.com/miguelcobain/ember-leaflet" class="main-header-nav-link">Github</a>
    </div>
    <div class="main-header-logo">
      {{#link-to "application"}}
        <strong><img src="ember-logo.png" alt="ember"> Leaflet</strong>
      {{/link-to}}
    </div>
  </nav>
</header>

<div class="main-content">
  {{outlet}}
</div>

<footer class="main-footer">
  <div class="main-footer-content">
    Project and website maintained by <a href="http://twitter.com/miguelcobain">Miguel Andrade</a>
    <div class="icons-attributions">
      <small>Map tiles by <a href="http://cartodb.com/attributions#basemaps">CartoDB</a>, under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>. Data by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>, under ODbL.</small><br>
      <small>"Sustainable Energy" icon by <strong>Jens Windolf</strong> and "text" icon by <strong>Austin Andrews</strong> from <a href="https://thenounproject.com">the Noun Project</a></small><br>
    </div>
  </div>
</footer>
