<h2 id="title">Ember Leaflet</h2>

{{#leaflet-map lat=51.505 lng=-0.09 zoom=13}}
  {{tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}

  {{marker-layer lat=51.505 lng=-0.09}}
  {{!--{{marker-layer latLng=latLng2}}
  {{marker-layer latLng=latLng3}}--}}
{{/leaflet-map}}
