<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Getting started</header>
    {{#link-to "docs.index" class="side-nav-link"}}Overview{{/link-to}}
    {{#link-to "docs.installation" class="side-nav-link"}}Installation{{/link-to}}
    {{#link-to "docs.container" class="side-nav-link"}}The container{{/link-to}}
    {{#link-to "docs.adding-layers" class="side-nav-link"}}Adding layers{{/link-to}}
    {{#link-to "docs.actions" class="side-nav-link"}}Actions and interaction{{/link-to}}
    {{#link-to "docs.templates" class="side-nav-link"}}They're just templates!{{/link-to}}
    {{#link-to "docs.contextual-components" class="side-nav-link"}}Contextual components{{/link-to}}

    <header class="side-nav-header">Components</header>
    {{#each componentList as |c|}}
      {{#link-to "docs.component" c class="side-nav-link"}}{{c}}{{/link-to}}
    {{/each}}

    <header class="side-nav-header">Helpers</header>
    {{#each helperList as |h|}}
      {{#link-to "docs.helper" h class="side-nav-link"}}{{h}}{{/link-to}}
    {{/each}}

  </nav>
  <section class="doc-page">
    {{!--{{#power-select selected=currentSection options=groupedSections onchange=(action "visit") searchField="text" searchEnabled=false class="section-selector" as |option|}}
      {{option.text}}
    {{/power-select}}--}}
    {{outlet}}
  </section>
</section>
